* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

main .hero {
  width: 100%;
}
main .hero .container .row {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .hero .container .row .hero-details {
  max-width: 770px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main .hero .container .row .hero-details h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #00095E;
  font-weight: 700;
  line-height: 1.2;
  font-size: 60px;
  text-align: center;
}
main .hero .container .row .hero-details h1 span {
  margin: 8px 0;
}
main .hero .container .row .hero-details h1 span::before {
  position: absolute;
  content: "";
  height: 10px;
  background: #FFC800;
  max-width: 475px;
  display: block;
  top: 15%;
  z-index: -1;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
}
main .hero .container .row .hero-details p {
  font-size: 20px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}
main .hero .container .row .hero-details #hero-button {
  background: linear-gradient(to bottom, #00095e 0%, #0c0c1f 100%);
  color: #fff;
  border-radius: 5px;
  padding: 25px 60px;
  display: inline-block;
  line-height: 100%;
  position: relative;
  z-index: 0;
  transition: 0.3s;
}
main .hero .container .row .hero-details #hero-button::before {
  background-color: #FFC800;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  transition: all 0.35s;
}
main .hero .container .row .hero-details #hero-button:hover::before {
  bottom: 0;
}
main .hero .hero-background {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 880px;
  background-image: url("../images/h1_hero1.png.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
main .hero .hero-background .container .row {
  width: 100%;
  height: 100%;
}
main .hero .hero-background .container .row .car-moving {
  position: relative;
  bottom: 130px;
  animation: move 5s linear infinite alternate;
}
main .hero .hero-background .container .row .car-moving img {
  width: 100%;
  height: auto;
}
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50px, 0);
  }
  80% {
    transform: translate(50px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .container .hero-details {
    width: 100%;
  }
  .container .hero-details h1 {
    font-size: 30px;
    text-align: center;
  }
  .container .hero-details h1 span::before {
    position: relative;
    display: block;
    top: 50% !important;
  }
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
  .container .hero-details h1 {
    font-size: 30px !important;
    text-align: center;
  }
  .container .hero-details h1 span::before {
    position: relative;
    display: block;
    top: 50% !important;
  }
  .container .hero-details p {
    text-align: center;
  }
}
main .heros {
  width: 100%;
  height: 440px;
  background-image: url("../images/h1_hero4.jpg.webp");
  background-repeat: no-repeat;
  color: white;
  display: block;
}
main .heros .container .row {
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .heros .container .row .hero-content h2 {
  color: #fff;
  font-size: 60px;
  display: block;
  font-weight: 700;
  line-height: 1.4;
  font-family: "Josefin Sans", sans-serif;
}

main .event-heros {
  width: 100%;
  height: 440px;
  background-image: url("../images/h1_hero2.jpg.webp");
  background-repeat: no-repeat;
  color: white;
  display: block;
}
main .event-heros .container .row {
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .event-heros .container .row .hero-content h2 {
  color: #fff;
  font-size: 60px;
  display: block;
  font-weight: 700;
  line-height: 1.4;
  font-family: "Josefin Sans", sans-serif;
}

main .heros {
  width: 100%;
  height: 440px;
  background-image: url("../images/h1_hero6.jpg.webp");
  background-repeat: no-repeat;
  color: white;
  display: block;
}
main .heros .container .row {
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .heros .container .row .hero-content h2 {
  color: #fff;
  font-size: 60px;
  display: block;
  font-weight: 700;
  line-height: 1.4;
  font-family: "Josefin Sans", sans-serif;
}
main .map {
  margin: 60px 0;
}
main .map .container .row {
  width: 100%;
}
main .map .container .row iframe {
  width: 100%;
  min-height: 480px;
}
main .contact-form {
  margin-bottom: 120px;
}
main .contact-form .container .row h2 {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 30px;
  font-family: "Josefin Sans", sans-serif;
  color: #00095E;
}
main .contact-form .container .row .contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .contact-form .container .row .contact .contact-right {
  width: 60%;
}
main .contact-form .container .row .contact .contact-right form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
main .contact-form .container .row .contact .contact-right form textarea {
  width: 100%;
  min-height: 200px;
  border-color: #e5e6e9;
}
main .contact-form .container .row .contact .contact-right form .mail {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
main .contact-form .container .row .contact .contact-right form .mail input[type=text] {
  width: 50%;
  min-height: 50px;
  border-color: #e5e6e9;
}
main .contact-form .container .row .contact .contact-right form .mail input[type=email] {
  width: 50%;
  min-height: 50px;
  border-color: #e5e6e9;
}
main .contact-form .container .row .contact .contact-right form input[type=text] {
  width: 100%;
  min-height: 50px;
  border-color: #e5e6e9;
}
main .contact-form .container .row .contact .contact-right form button {
  width: 150px;
  min-height: 60px;
  border: 1px solid #7EA0FF;
  background-color: #fff;
  color: #7EA0FF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
  transition: 0.3s ease-in-out;
}
main .contact-form .container .row .contact .contact-right form button:hover {
  color: #fff;
  background-color: #7EA0FF;
}
main .contact-form .container .row .contact .contact-left {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .contact-form .container .row .contact .contact-left .contact-info {
  display: flex;
  flex-direction: row;
}
main .contact-form .container .row .contact .contact-left .contact-info .contact-image {
  max-width: 30px;
  min-height: 30px;
  margin-right: 15px;
}
main .contact-form .container .row .contact .contact-left .contact-info .contact-image img {
  width: 100%;
}
main .contact-form .container .row .contact .contact-left .contact-info .contact-content a {
  font-family: "Josefin Sans", sans-serif;
  color: #2a2a2a;
  font-size: 16px;
  margin-bottom: 8px;
  transition: 0.3s ease-in-out;
}
main .contact-form .container .row .contact .contact-left .contact-info .contact-content a p {
  transition: 0.3s ease-in-out;
  font-size: 16px;
  color: #8c8c8c;
  font-family: "Roboto", sans-serif;
}
main .contact-form .container .row .contact .contact-left .contact-info .contact-content a:hover {
  color: #00095E;
}
main .contact-form .container .row .contact .contact-left .contact-info .contact-content a:hover p:hover {
  font-style: italic;
}

@media (max-width: 768px) {
  .contact-form {
    height: 100%;
    padding-top: 0 !important;
  }
  .contact-form .contact {
    display: flex;
    flex-direction: column !important;
    gap: 30px;
  }
  .contact-form .contact .contact-right {
    width: 100% !important;
  }
}
header nav {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  padding: 20px 30px;
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}
header nav .main-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  padding: 0 30px;
}
header nav .main-menu .menu-item a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  color: #00095E;
  transition: all 0.3s;
}
header nav .main-menu .menu-item a:hover {
  color: #0056b3;
  text-decoration: underline;
  text-underline-offset: 13px;
}
header nav .main-menu .menu-item .phone {
  background: #FFC800;
  color: #fff;
  border-radius: 5px;
  padding: 13px 30px;
  display: inline-block;
  line-height: 100%;
  position: relative;
  z-index: 0;
  transition: 0.3s;
  font-family: "Josefin Sans", sans-serif;
}
header nav .main-menu .menu-item .phone::before {
  background-color: #00095E;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  transition: all 0.35s;
}
header nav .main-menu .menu-item .phone:hover::before {
  bottom: 0;
}
header nav .main-menu .menu-item .phone:hover {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
  text-underline-offset: 0;
}
header nav .main-menu .menu-item .phone:hover::before {
  display: none;
}
header nav .main-menu .dropdown a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  color: #00095E;
  transition: all 0.3s;
}
header nav .main-menu .dropdown a:hover {
  color: #0056b3;
  text-decoration: underline;
  text-underline-offset: 13px;
}
header nav .main-menu .dropdown .dropdown-items {
  position: absolute;
  visibility: hidden;
  margin-left: 7px;
  margin-top: 40px;
  background-color: #00095e;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
}
header nav .main-menu .dropdown .dropdown-items a {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 500;
  width: 170px;
  padding: 17px;
  transition: all 0.3s;
}
header nav .main-menu .dropdown .dropdown-items a:hover {
  text-decoration: none;
  left: 3px;
  position: relative;
}
header nav .main-menu .dropdown:hover .dropdown-items {
  visibility: visible;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
  color: #FFF;
  height: 50px;
  padding: 2em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 1024px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    transition: all 0.3s;
  }
  .menu > li a:hover {
    color: #0056b3;
    text-decoration: underline;
    text-underline-offset: 13px;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
@media (max-width: 1024px) {
  nav {
    display: none !important;
  }
}
footer {
  background-color: #1a2d6d;
}
footer .container .row {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 114px;
}
footer .container .row .footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .container .row .footer-top .footer-part {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
footer .container .row .footer-top .footer-part p {
  max-width: 370px;
  color: #8A8FBE;
  font-size: 16px;
  margin: 35px 0 21px 0;
  line-height: 1.8;
}
footer .container .row .footer-top .footer-part .social-medias {
  margin-bottom: 40px;
}
footer .container .row .footer-top .footer-part .social-medias a {
  color: #fff;
  font-size: 22px;
  padding: 9px;
  position: relative;
  top: 0;
  transition: all 0.3s ease-in-out;
}
footer .container .row .footer-top .footer-part .social-medias a:hover {
  color: #FFC800;
  top: -5px;
}
footer .container .row .footer-top .footer-part h4 {
  color: #fff;
  font-size: 17px;
  margin-bottom: 28px;
  font-weight: 700;
}
footer .container .row .footer-top .footer-part ul li {
  margin-bottom: 15px;
}
footer .container .row .footer-top .footer-part ul li a {
  color: #8A8FBE;
  font-size: 16px;
  transition: 0.3s;
}
footer .container .row .footer-top .footer-part ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
footer .container .row .footer-top .footer-part ul li .mobile-phone {
  color: #FFC800;
  font-size: 22px;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
footer .container .row .footer-top .footer-part ul li .mobile-phone:hover {
  text-decoration: none;
}
footer .container .row .footer-bottom {
  padding: 45px 0 20px 0;
}
footer .container .row .footer-bottom p {
  text-align: center;
  font-size: 14px;
  color: #8A8FBE;
}
footer .container .row .footer-bottom p i {
  color: #7EA0FF;
}
footer .container .row .footer-bottom p a {
  color: #FFC800;
}
footer .go-top {
  background-color: #7EA0FF;
  height: 50px;
  width: 50px;
  right: 31px;
  bottom: 18px;
  position: fixed;
  border-radius: 50%;
  text-align: center;
  line-height: 48px;
  font-size: 20px;
  box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
  transition: 0.5s ease-in-out;
}
footer .go-top i {
  color: #fff;
}
footer .go-top:hover {
  transform: scale(0.8);
  background-color: #1a2d6d;
}

@media (max-width: 768px) {
  .container .row .footer-top {
    flex-direction: column !important;
  }
}
.instagram {
  margin-top: 60px;
}
.instagram .row {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.instagram .row .col-items {
  position: relative;
}
.instagram .row .col-items img {
  width: 100%;
  display: block;
  opacity: 1;
  transition: 0.5s ease-in-out;
}
.instagram .row .col-items .insta-hover {
  position: absolute;
  transition: 0.5s ease-in-out;
  opacity: 0;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.instagram .row .col-items .insta-hover i {
  color: #fff;
}
.instagram .row .col-items:hover img {
  opacity: 0.9;
}
.instagram .row .col-items:hover .insta-hover {
  opacity: 1;
}

@media (max-width: 500px) {
  .instagram .row {
    margin-top: 0 !important;
    grid-template-columns: auto;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .instagram {
    width: 100%;
    align-items: center;
  }
  .instagram .col-items {
    width: 300px;
  }
  .instagram .col-items img {
    width: 100%;
    height: 200px;
  }
}
.about-us {
  padding: 60px 0;
}
.about-us .container .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.about-us .container .row .about-image {
  max-width: 570px;
}
.about-us .container .row .about-image img {
  width: 100%;
}
.about-us .container .row .about-content {
  max-width: 470px;
}
.about-us .container .row .about-content span {
  font-size: 16px;
  color: #7EA0FF;
  margin-bottom: 10px;
  display: inline-block;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.about-us .container .row .about-content h2 {
  font-size: 50px;
  font-family: "Josefin Sans", sans-serif;
  display: block;
  color: #00095E;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 22px;
}
.about-us .container .row .about-content p {
  color: #677F8B;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 50px;
  font-weight: 400;
  line-height: 1.8;
}
.about-us .container .row .about-content .about-button {
  background: #FFC800;
  color: #fff;
  border-radius: 5px;
  padding: 25px 40px;
  display: inline-block;
  line-height: 100%;
  position: relative;
  z-index: 0;
  transition: 0.3s;
}
.about-us .container .row .about-content .about-button::before {
  background-color: #00095E;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  transition: all 0.35s;
}
.about-us .container .row .about-content .about-button:hover::before {
  bottom: 0;
}

@media (max-width: 1024px) {
  .container .row {
    flex-direction: column;
  }
  .container .row .about-content h2 {
    font-size: 24px !important;
  }
}
.testimonial {
  margin: 60px 0;
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/section_bg1.jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonial .container .row {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.testimonial .container .row .testimonial-content {
  max-width: 990px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial .container .row .testimonial-content h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
}
.testimonial .container .row .testimonial-content p {
  text-align: center;
  line-height: 1.5;
  padding: 0 50px;
  margin-bottom: 32px;
  font-size: 26px;
  font-weight: 400;
}
.testimonial .container .row .testimonial-content .testi-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.testimonial .container .row .testimonial-content .testi-bottom p {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  padding: 0;
  margin: 0 0 0 20px;
}
.testimonial .container .row .testimonial-content .testi-bottom p:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .container .row .testimonial-content {
    width: 100%;
  }
  .container .row .testimonial-content h2 {
    font-size: 24px !important;
  }
  .container .row .testimonial-content p {
    font-size: 16px !important;
    padding: 0 20px;
  }
  .container .row .testimonial-content .testi-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  .container .row .testimonial-content .testi-bottom p {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
.video {
  width: 100%;
  padding: 60px 0;
}
.video .container .row {
  height: 500px;
  border-radius: 20px;
  background-image: url("../images/video-bg.jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.video .container .row .video-play {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video .container .row .video-play img {
  width: 100%;
  transition: 0.3s;
}
.video .container .row .video-play img:hover {
  scale: 0.8;
}
.video .container .row .video-play h3 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
}

@media (max-width: 500px) {
  .video {
    padding: 0 15px !important;
  }
  .video .container .row {
    height: 350px;
  }
  .video .container .row .video-play h3 {
    font-size: 25px !important;
  }
}
@media (max-width: 768px) {
  .video {
    padding: 0 15px !important;
  }
}
.faq {
  padding: 60px 0;
}
.faq .container .row {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.faq .container .row .faq-header {
  text-align: center;
}
.faq .container .row .faq-header span {
  font-size: 16px;
  color: #7EA0FF;
  margin-bottom: 10px;
  display: inline-block;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.faq .container .row .faq-header h2 {
  font-size: 41px;
  font-family: "Josefin Sans", sans-serif;
  display: block;
  color: #00095E;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 22px;
}
.faq .container .row .faq-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.faq .container .row .faq-content .faq-content-left {
  max-width: 480px;
  padding: 0 30px;
}
.faq .container .row .faq-content .faq-content-left .faq__detail {
  max-width: 360px;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  margin: 20px 0 0 0;
}
.faq .container .row .faq-content .faq-content-left .faq__detail .faq__summary {
  display: block;
  padding: 0;
  position: relative;
  color: #010A44;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}
.faq .container .row .faq-content .faq-content-left .faq__detail .faq__summary:hover, .faq .container .row .faq-content .faq-content-left .faq__detail .faq__summary:active {
  color: #7EA0FF;
  cursor: pointer;
}
.faq .container .row .faq-content .faq-content-left .faq__detail .faq__summary::before {
  display: inline-block;
  content: "+";
  font-size: 40px;
  line-height: 0.5em;
  text-align: center;
  padding-bottom: 20px;
  color: #7EA0FF;
  margin-right: 20px;
}
.faq .container .row .faq-content .faq-content-left .faq__detail .faq__text {
  max-width: 376px;
  padding: 20px 38px;
}
.faq .container .row .faq-content .faq-content-left details[open] .faq__summary:before {
  display: inline-block;
  width: 18px;
  height: 10px;
  content: "-";
}
.faq .container .row .faq-content .faq-content-right {
  max-width: 570px;
}
.faq .container .row .faq-content .faq-content-right img {
  width: 100%;
}
.faq .container .row .faq-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq .container .row .faq-bottom .faq-button {
  background: #FFC800;
  color: #fff;
  border-radius: 5px;
  padding: 25px 40px;
  display: inline-block;
  line-height: 100%;
  position: relative;
  z-index: 0;
  transition: 0.3s;
}
.faq .container .row .faq-bottom .faq-button::before {
  background-color: #00095E;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  transition: all 0.35s;
}
.faq .container .row .faq-bottom .faq-button:hover::before {
  bottom: 0;
}

@media (max-width: 500px) {
  .container {
    width: 100%;
  }
  .container .faq-header h2 {
    font-size: 24px !important;
  }
}
@media (max-width: 768px) {
  .container .row .faq-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .container .row .faq-content .faq-content-left img {
    width: 100%;
  }
}
.events .container .row {
  padding: 120px 0 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.events .container .row .events-header {
  text-align: center;
}
.events .container .row .events-header span {
  font-size: 16px;
  color: #7EA0FF;
  margin-bottom: 10px;
  display: inline-block;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.events .container .row .events-header h2 {
  font-size: 41px;
  font-family: "Josefin Sans", sans-serif;
  display: block;
  color: #00095E;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 22px;
}
.events .container .row .slider-cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 30px;
}
.events .container .row .slider-cards .card {
  max-width: 360px;
}
.events .container .row .slider-cards .card .card-image {
  max-width: 360px;
  overflow: hidden;
}
.events .container .row .slider-cards .card .card-image img {
  width: 100%;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.events .container .row .slider-cards .card .card-image img:hover {
  transform: scale(1.1);
}
.events .container .row .slider-cards .card .card-info {
  max-width: 360px;
  border-radius: 0px 0px 5px 5px;
  padding: 30px 20px 30px 23px;
  box-shadow: 0 10px 15px rgba(0, 9, 94, 0.06);
}
.events .container .row .slider-cards .card .card-info .card-info-top {
  display: flex;
  justify-content: space-between;
}
.events .container .row .slider-cards .card .card-info .card-info-top h3 a {
  color: #00095E;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
  transition: 0.3s ease-in-out;
}
.events .container .row .slider-cards .card .card-info .card-info-top h3 a:hover {
  opacity: 0.8;
}
.events .container .row .slider-cards .card .card-info .card-info-top span {
  font-size: 22px;
  font-weight: 700;
  color: #7EA0FF;
  line-height: 1;
}
.events .container .row .slider-cards .card .card-info p a {
  color: #7EA0FF;
  background-color: rgba(126, 160, 255, 0.05);
  font-size: 14px;
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 9px 15px;
  border-radius: 19px;
  margin-right: 13px;
  transition: 0.3s ease-in-out;
}
.events .container .row .slider-cards .card .card-info p a:hover {
  color: rgba(0, 9, 94, 0.5019607843);
}
.events .container .row .slider-cards .card .card-info p span {
  color: #00095E;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .events {
    width: 100%;
  }
  .events .container {
    width: 100%;
  }
  .events .container .slider-cards {
    flex-direction: column;
  }
  .card:nth-child(3) {
    display: none;
  }
}
@media (max-width: 500px) {
  .events {
    padding: 0 15px !important;
    width: 100%;
  }
  .events .container .events-header h2 {
    font-size: 25px !important;
  }
  .card:nth-child(2) {
    display: none;
  }
  .card:nth-child(3) {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */