* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
  border: 1px solid red;
}

main .hero {
  width: 100%;
}
main .hero .container .hero-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 150px;
}
main .hero .container .hero-details h1 {
  font-size: 50px;
  text-align: center;
}
main .hero .container .hero-details h1 span {
  margin: 8px 0;
}
main .hero .container .hero-details h1 span hr {
  border: 5px solid #FFC800;
  margin-top: -20px;
  width: 100px;
}
main .hero .container .hero-details p {
  font-size: 20px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}
main .hero .container .hero-details .hero-button {
  margin: 25px 0 25px 40px;
  background-color: #00095e;
  color: #fff;
  border-radius: 5px;
  padding: 35px 60px;
  display: inline-block;
  transition: 0.3s;
}
main .hero .container .hero-details .hero-button:hover {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
  text-underline-offset: 0;
}
main .hero .hero-background {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 700px;
  background-image: url("../images/h1_hero1.png.webp");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
main .hero .hero-background .container .row {
  display: flex;
  justify-content: center;
}
main .hero .hero-background .container .row .car-moving {
  position: relative;
  bottom: 100px;
  animation: move 10s linear infinite alternate;
}
main .hero .hero-background .container .row .car-moving img {
  width: 610px;
  height: 301px;
}
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-100px, 0);
  }
  80% {
    transform: translate(100px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

main {
  padding-top: 100px;
}
main .about-hero {
  width: 100%;
  height: 380px;
  background-image: url("../images/h1_hero4.jpg.webp");
  background-repeat: no-repeat;
  color: white;
}
main .about-hero .container .row {
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about-hero .container .row .hero-content h2 {
  color: #fff;
  font-size: 60px;
  display: block;
  font-weight: 700;
  line-height: 1.4;
  font-family: "Josefin Sans", sans-serif;
}

main {
  padding-top: 100px;
}
main .about-hero {
  width: 100%;
  height: 380px;
  background-image: url("../images/h1_hero2.jpg.webp");
  background-repeat: no-repeat;
  color: white;
}
main .about-hero .container .row {
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about-hero .container .row .hero-content h2 {
  color: #fff;
  font-size: 60px;
  display: block;
  font-weight: 700;
  line-height: 1.4;
  font-family: "Josefin Sans", sans-serif;
}
main .events {
  padding: 120px 0 0 0;
}
main .events .container .row {
  display: flex;
}
main .events .container .row .slider-cards {
  display: flex;
  flex-direction: column;
}
main .events .container .row .slider-cards .card-top {
  flex-direction: row;
  display: flex;
  gap: 30px;
}
main .events .container .row .slider-cards .card-bottom {
  flex-direction: row;
  display: flex;
  gap: 30px;
}

header nav {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  padding: 0 30px;
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}
header nav .menu {
  display: flex;
}
header nav .menu .main-menu {
  display: flex;
  gap: 40px;
}
header nav .menu .main-menu .menu-item a {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  color: #00095E;
  padding: 39px 2px;
  transition: all 0.3s;
}
header nav .menu .main-menu .menu-item a:hover {
  color: #0056b3;
  text-decoration: underline;
  text-underline-offset: 13px;
}
header nav .menu .main-menu .dropdown a {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  color: #00095E;
  padding: 39px 2px;
  transition: all 0.3s;
}
header nav .menu .main-menu .dropdown a:hover {
  color: #0056b3;
  text-decoration: underline;
  text-underline-offset: 13px;
}
header nav .menu .main-menu .dropdown .dropdown-items {
  position: absolute;
  visibility: hidden;
  margin-left: 7px;
  background-color: #00095e;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
}
header nav .menu .main-menu .dropdown .dropdown-items a {
  color: white;
  font-size: 16px;
  font-weight: 500;
  width: 170px;
  padding: 17px;
}
header nav .menu .main-menu .dropdown .dropdown-items a:hover {
  text-decoration: none;
}
header nav .menu .main-menu .dropdown:hover .dropdown-items {
  visibility: visible;
}
header nav .menu .phone {
  margin: 25px 0 25px 40px;
  background-color: #FFC800;
  color: #fff;
  border-radius: 5px;
  padding: 13px 30px;
  display: inline-block;
  transition: 0.3s;
}
header nav .menu .phone:hover {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
  text-underline-offset: 0;
}

footer {
  background-color: #1a2d6d;
}
footer .container .row {
  display: flex;
  flex-direction: column;
  padding-top: 114px;
}
footer .container .row .footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .container .row .footer-top .footer-part {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
footer .container .row .footer-top .footer-part p {
  color: #8A8FBE;
  font-size: 16px;
  margin: 35px 0 21px 0;
  line-height: 1.8;
}
footer .container .row .footer-top .footer-part .social-medias {
  margin-bottom: 40px;
}
footer .container .row .footer-top .footer-part .social-medias a {
  color: #fff;
  font-size: 22px;
  padding: 9px;
}
footer .container .row .footer-top .footer-part h4 {
  color: #fff;
  font-size: 17px;
  margin-bottom: 28px;
  font-weight: 700;
}
footer .container .row .footer-top .footer-part ul li {
  margin-bottom: 15px;
}
footer .container .row .footer-top .footer-part ul li a {
  color: #8A8FBE;
  font-size: 16px;
  transition: 0.3s;
}
footer .container .row .footer-top .footer-part ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
footer .container .row .footer-top .footer-part ul li .mobile-phone {
  color: #FFC800;
  font-size: 22px;
  font-weight: 400;
  transition: 0.3s;
}
footer .container .row .footer-top .footer-part ul li .mobile-phone:hover {
  text-decoration: none;
}
footer .container .row .footer-bottom {
  padding: 45px 0 20px 0;
}
footer .container .row .footer-bottom p {
  text-align: center;
  font-size: 14px;
  color: #8A8FBE;
}
footer .container .row .footer-bottom p i {
  color: #7EA0FF;
}
footer .container .row .footer-bottom p a {
  color: #FFC800;
}
footer .go-top {
  background: #7EA0FF;
  height: 50px;
  width: 50px;
  right: 31px;
  bottom: 18px;
  position: fixed;
  border-radius: 50%;
  text-align: center;
  line-height: 48px;
  font-size: 20px;
  border: 2px solid transparent;
  box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
}
footer .go-top i {
  color: #fff;
}

.instagram .row {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.instagram .row .col-items {
  position: relative;
}
.instagram .row .col-items img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.instagram .row .col-items .insta-hover {
  position: absolute;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.instagram .row .col-items .insta-hover i {
  color: #fff;
}
.instagram .row .col-items:hover img {
  opacity: 0.8;
}
.instagram .row .col-items:hover .insta-hover {
  opacity: 1;
}

.about-us .container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 100px 0;
}
.about-us .container .row .about-content span {
  font-size: 16px;
  color: #7EA0FF;
  margin-bottom: 10px;
  display: inline-block;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.about-us .container .row .about-content h2 {
  font-size: 41px;
  font-family: "Josefin Sans", sans-serif;
  display: block;
  color: #00095E;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 22px;
}
.about-us .container .row .about-content p {
  color: #677F8B;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 50px;
  font-weight: 400;
  line-height: 1.8;
}
.about-us .container .row .about-content .about-button {
  margin: 25px 0 25px 40px;
  background-color: #FFC800;
  color: #fff;
  border-radius: 5px;
  padding: 30px 40px;
  display: inline-block;
  transition: 0.3s;
  margin: 0;
}
.about-us .container .row .about-content .about-button:hover {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
  text-underline-offset: 0;
}

@media (max-width: 320px) {
  .about-us .container {
    width: 100%;
  }
  .about-us .container .row {
    flex-direction: column;
    padding: 50px 0;
  }
  .about-us .container .row .about-image img {
    width: 100%;
  }
}
.testimonial {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/section_bg1.jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonial .container .row {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.testimonial .container .row .testimonial-content {
  width: 770px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial .container .row .testimonial-content h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
}
.testimonial .container .row .testimonial-content p {
  text-align: center;
  line-height: 1.5;
  padding: 0 50px;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 400;
}
.testimonial .container .row .testimonial-content .testi-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.testimonial .container .row .testimonial-content .testi-bottom p {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  padding: 0;
  margin: 0 0 0 20px;
}
.testimonial .container .row .testimonial-content .testi-bottom p:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

@media (max-width: 320px) {
  .testimonial .container {
    width: 100%;
  }
  .testimonial .container .testimonial-content {
    justify-content: center;
  }
  .testimonial .container .testimonial-content h2 {
    text-align: center;
    font-size: 29px;
  }
}
.video {
  width: 100%;
  padding: 120px 0;
}
.video .container .row {
  height: 500px;
  border-radius: 20px;
  background-image: url("../images/video-bg.jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.video .container .row .video-play {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video .container .row .video-play img {
  width: 100%;
  transition: 0.3s;
}
.video .container .row .video-play img:hover {
  scale: 0.8;
}
.video .container .row .video-play h3 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
}

.faq {
  padding-top: 120px;
}
.faq .container .row {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.faq .container .row .faq-header {
  text-align: center;
}
.faq .container .row .faq-header span {
  font-size: 16px;
  color: #7EA0FF;
  margin-bottom: 10px;
  display: inline-block;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.faq .container .row .faq-header h2 {
  font-size: 41px;
  font-family: "Josefin Sans", sans-serif;
  display: block;
  color: #00095E;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 22px;
}
.faq .container .row .faq-content {
  display: grid;
  grid-template-columns: auto auto;
}
.faq .container .row .faq-content .faq-content-left {
  width: 480px;
  padding: 20px 15px 20px 0;
}
.faq .container .row .faq-content .faq-content-left .faq__detail {
  width: 360px;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  margin: 20px 0 0 0;
}
.faq .container .row .faq-content .faq-content-left .faq__detail .faq__summary {
  display: block;
  padding: 0;
  position: relative;
  color: #010A44;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}
.faq .container .row .faq-content .faq-content-left .faq__detail .faq__summary:hover, .faq .container .row .faq-content .faq-content-left .faq__detail .faq__summary:active {
  color: #7EA0FF;
  cursor: pointer;
}
.faq .container .row .faq-content .faq-content-left .faq__detail .faq__summary::before {
  display: inline-block;
  content: "+";
  font-size: 40px;
  line-height: 0.5em;
  text-align: center;
  padding-bottom: 20px;
  color: #7EA0FF;
  margin-right: 20px;
}
.faq .container .row .faq-content .faq-content-left .faq__detail .faq__text {
  width: 360px;
  padding: 20px 38px;
}
.faq .container .row .faq-content .faq-content-left details[open] .faq__summary:before {
  display: inline-block;
  width: 18px;
  height: 10px;
  content: "-";
}
.faq .container .row .faq-content .faq-content-right img {
  width: 100%;
}
.faq .container .row .faq-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq .container .row .faq-bottom .faq-button {
  margin: 25px 0 25px 40px;
  background-color: #FFC800;
  color: #fff;
  border-radius: 5px;
  padding: 30px 40px;
  display: inline-block;
  transition: 0.3s;
}
.faq .container .row .faq-bottom .faq-button:hover {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
  text-underline-offset: 0;
}

.events {
  padding: 120px 0;
}
.events .container .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.events .container .row .events-header {
  text-align: center;
}
.events .container .row .events-header span {
  font-size: 16px;
  color: #7EA0FF;
  margin-bottom: 10px;
  display: inline-block;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.events .container .row .events-header h2 {
  font-size: 41px;
  font-family: "Josefin Sans", sans-serif;
  display: block;
  color: #00095E;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 22px;
}
.events .container .row .slider-cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.events .container .row .slider-cards .card .card-image {
  width: 280px;
}
.events .container .row .slider-cards .card .card-image img {
  width: 100%;
  transform: scale(1);
}
.events .container .row .slider-cards .card .card-info {
  border-radius: 0px 0px 5px 5px;
  padding: 30px 20px 30px 23px;
  box-shadow: 0 10px 15px rgba(0, 9, 94, 0.06);
}
.events .container .row .slider-cards .card .card-info .card-info-top {
  display: flex;
  justify-content: space-between;
}
.events .container .row .slider-cards .card .card-info .card-info-top h3 a {
  color: #00095E;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}
.events .container .row .slider-cards .card .card-info .card-info-top span {
  font-size: 22px;
  font-weight: 700;
  color: #7EA0FF;
  line-height: 1;
}
.events .container .row .slider-cards .card .card-info p a {
  color: #7EA0FF;
  background: rgba(126, 160, 255, 0.05);
  font-size: 14px;
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 9px 15px;
  border-radius: 19px;
  margin-right: 13px;
}
.events .container .row .slider-cards .card .card-info p span {
  color: #00095E;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

@media (max-width: 320px) {
  .events {
    width: 100%;
  }
  .events .container {
    width: 100%;
  }
  .card:nth-child(2) {
    display: none;
  }
  .card:nth-child(3) {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */