@import '../mixins';
.about-us{
    padding:60px 0;
    .container{
        .row{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap:30px;
            .about-image{
                max-width:570px;
                img{
                    width:100%;
                }
            }
            .about-content{
                max-width:470px;
                span{
                    font-size:16px;
                    color:#7EA0FF;
                    margin-bottom:10px;
                    display: inline-block;
                    letter-spacing: 0.05em;
                    font-weight: 400;
                }
                h2{
                    font-size: 50px;
                    font-family: "Josefin Sans",sans-serif;
                    display: block;
                    color: #00095E;
                    font-weight: 700;
                    line-height: 1.4;
                    margin-bottom: 22px;
                }
                p{
                    color: #677F8B;
                    font-size: 18px;
                    line-height: 30px;
                    margin-bottom: 50px;
                    font-weight: 400;
                    line-height: 1.8;
                }
                .about-button{
                    @include button(#FFC800, 25px 40px, #00095E);
                }
            }
        }
    }
}

@media (max-width:1024px){
    .container{
        .row{
            flex-direction: column;
            .about-content{
                h2{
                    font-size: 24px !important;
                }
            }
        }
    }
}