@import '../mixins';
.faq{
    padding:60px 0;
    .container{
        .row{
            width:100%;
            display: flex;
            flex-direction: column;
            gap:25px;
            .faq-header{
                text-align: center;
                span{
                    font-size:16px;
                    color:#7EA0FF;
                    margin-bottom:10px;
                    display: inline-block;
                    letter-spacing: 0.05em;
                    font-weight: 400;
                }
                h2{
                    font-size: 41px;
                    font-family: "Josefin Sans",sans-serif;
                    display: block;
                    color: #00095E;
                    font-weight: 700;
                    line-height: 1.4;
                    margin-bottom: 22px;
                }
            }
            .faq-content{
                width:100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .faq-content-left{
                    width:480px;
                    padding: 0 30px;
                    .faq__detail {
                        width:360px;
                        border-bottom: 1px solid hsl(240, 5%, 91%);
                        margin: 20px 0 0 0;
                        .faq__summary{
                            display: block;
                            padding: 0;
                            position: relative;
                            color:  #010A44;
                            font-size: 18px;
                            font-family: "Josefin Sans",sans-serif;
                            &:hover,
                            &:active{
                                color: #7EA0FF;
                                cursor: pointer; 
                            }
                            &::before{
                                display: inline-block;
                                content: "+";
                                font-size: 40px;
                                line-height: 0.5em;
                                text-align: center;
                                padding-bottom: 20px;
                                color:#7EA0FF;
                                margin-right:20px;
                            }
                        }
                        .faq__text{
                            width:376px;
                            padding: 20px 38px;
                        }
                    }
                    details[open] .faq__summary:before {
                        display: inline-block;
                        width: 18px;
                        height: 10px;
                        content: "-";
                    }
                }
                .faq-content-right{
                    width:570px;
                    img{
                        width: 100%;
                    }
                }
            }
            .faq-bottom{
                display: flex;
                align-items: center;
                justify-content: center;
                .faq-button{
                    @include button(#FFC800, 25px 40px, #00095E);
                }
            }
        }
    }
}