@import '../mixins';
main{
    .hero{
        width:100%;
        .container{
            .row{
                padding-top: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                .hero-details{
                    width:770px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap:10px;
                    h1{ 
                        font-family: "Josefin Sans",sans-serif;
                        color: #00095E;
                        font-weight: 700;
                        line-height: 1.2;
                        font-size: 60px;
                        text-align: center;
                        span{
                            margin:8px 0;
                            &::before{
                                position: absolute;
                                content: "";
                                height: 10px;
                                background: #FFC800;
                                width: 475px;
                                display: inline-block;
                                top: 72%;
                                z-index: -1;        
                                text-align: center;
                                left: 0;
                                right: 0;
                                margin: 0 auto;
                            }
                        }
                    }
                    p{
                        font-size: 20px;
                        margin-bottom: 30px;
                        font-family: 'Roboto', sans-serif;
                    }
                    .hero-button{
                        @include button(#0c0c1f,25px 60px);
                    }
                }
            }
        }
        .hero-background{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            height: 700px;
            background-image: url("../images/h1_hero1.png.webp");
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            .container{
                .row{
                    display: flex;
                    justify-content: center;
                    .car-moving{
                        position: relative;
                        bottom:100px;
                        animation: move 10s linear infinite alternate;
                        img{
                            width:610px;
                            height:301px;
                        }
                        @keyframes move {
                            0%{
                                transform: translate(0,0);
                            }
                            50%{
                                transform: translate(-100px,0);
                            }
                            80%{
                                transform: translate(100px,0);
                            }
                            100%{
                                transform: translate(0,0);
                            }
                        }
                        }
                    }
                }
            }
        }
    }
    

